<script src="app.component.ts"></script>
<form (ngSubmit)="save()">
  Please enter your name and pick the Sectors you are currently involved in.
  <br>
  <br>
  Name:
  <input id="name" [(ngModel)]="model.name" (change)="nameValid = true"
         type="text" name="name" required #name="ngModel">
  <span *ngIf="(name.invalid && (name.dirty || name.touched)) || !nameValid" style="color: red; padding-left: 10px;">
      Name is required.
  </span>
  <br>
  <br>
  Sectors:
  <select id="sectorsSelect" multiple size="10" [(ngModel)]="model.sectors"
          name="sectorsSelect" required #sectorsSelect="ngModel" (change)="sectorsValid = true">
    <option *ngFor="let sector of sectors;" value="{{sector.value}}" [innerHTML]="sector.text">
    </option>
  </select>
  <div *ngIf="(sectorsSelect.invalid && (sectorsSelect.dirty || sectorsSelect.touched))
              || !sectorsValid"
        style="color: red">
      <br>At least one sector must be selected.
  </div>
  <br>
  <br>
  <input id="termsAgreement"
         type="checkbox"
         [(ngModel)]="model.termsAgreement"
         (change)="termsValid = true"
         name="termsAgreement"
         required #termsAgreement="ngModel"> Agree to terms
  <span *ngIf="(termsAgreement.invalid
            && (termsAgreement.dirty || termsAgreement.touched))
            || !termsValid"
        style="color: red; padding-left: 10px;">
      Agreement is required.
  </span>
  <br>
  <br>
  <input type="submit" value="Save">
</form>
